/* Importações */
@import url("base.css");
@import url("components/navbar.css");
@import url("components/hero.css");
@import url("components/login.css");
@import url("components/about.css");
@import url("quiz.css");
@import url("404.css");